<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andriiginting.detail">

    <application>
        <activity android:name=".MuviDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="MUVI_DETAIL_IMPLICIT_INTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>